

.intro {
    background-color: white;
    display: flex;

    
    .left {
        flex: 0.5;
        overflow: hidden;
        
        .imgContainer {
            width: 700px;
            height: 700px;
            background-color: darkslategrey;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;
            
            
            img {
                border-radius: 200%;
                height: 80%;
            }
        }
    }
    .right {
        flex: 0.5;
        position: relative;
        
        #chevronDown {
            color: #15023a;
            position: absolute;
            bottom: 10px;
            animation: chevronBlink 2s infinite;
        }

        @keyframes chevronBlink {
            100% {
                opacity: 0;
            }
        }

        .wrapper {
            width: 100%;
            height: 70%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            h1 {
                font-size: 60px;
                margin: 10px 0;
            }

            h2 {
                font-size: 35px;
            }
            h3 {
                font-size: 30px;

                span {
                    font-size: inherit;
                    color: darkslategrey;
                }
            }
        }
    }
}